.activeContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 3% 5%;
    box-sizing: border-box;
    
    position: relative; /* 부모 요소에 필요 */

}

.activeRentalTitle {
    font-size: 1.5em;
    font-weight: 600;
    color: #7F5539;
    margin-bottom: 20px;
}

.activeRentalContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 620px; */


}

.activeRentalTable {
    width: 100%;
    border-collapse: collapse;
    /* 세로줄 제거 */
    text-align: center;
    font-size: 0.95em;
}

.activeRentalTable>tbody>tr>td:nth-child(7) {

    display: flex;
    justify-content: center;
}

.activeRentalTable>tbody>tr>td>div {
    width: 80%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    background-color: #B08968;
    color: white;
    cursor: pointer;
}

.activeRentalTable thead {
    background-color: #d3d3d3;
    /* 회색 배경 */
    font-weight: bold;
}

.activeRentalTable th {
    height: 40px;
}

.activeRentalTable td {
    padding: 10px;
}

.activeRentalTable tbody tr {
    border-bottom: 1px solid #5e5a5abb;
    /* 가로줄만 유지 */
}

.activeRentalTable tbody tr:hover {
    background-color: #f5f5f5;
    /* 마우스 오버 효과 */
}


.pagingContainer {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;

    >div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        >div {
            margin: 0;
            height: fit-content;
        }
    }
}