.deliverContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    width: 100%;
}

.deliverHr {
    margin: 0px 0px 20px 0px;
}

.deliverContainer > div:nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;    
}

.deliverContainer > div:nth-child(1)> div {
    border-radius: 5px;
    padding: 2px 10px;
    background-color: #B08968;
    color: white;
    margin-right: 15px;
}

.deliverContainer > div:nth-child(1)> div:hover {
    background-color: #7F5539;
}

.rentalContext {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    font-weight: 600;
}

.rentalContext {
    padding: 2%;
}

.rentalContext > div {
    margin-bottom: 10px;
}

.deliverContainer > div > button {
    width: fit-content;
    border: none;
    border-radius: 5px;
    padding: 4px 20px;
    background-color: #B08968;
    color: white;
}

.deliverContainer > div > button:hover {
    background-color: #7F5539;
}