.adminPageTopBox {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 15px;

    .adminPageTitle {
        font-size: 1.8em;
        font-weight: 700;
    }

    >button {
        border: none;
        background-color: #98755E;
        color: white;
        border-radius: 10px;
        font-size: 1em;
        box-sizing: border-box;
        padding: 10px 20px;
        font-weight: 700;
    }
}